<nav class="navbar is-hidden-print is-primary" x-data="{ openNav: false }">
    <div class="container logo-container">
        <img class="logo" src="{{ site.baseurl }}/assets/img/INTIAlogo_farbig_horizontal.png">
        <!--<img src="{{ site.baseurl }}/assets/img/INTIA_Logoleiste_2022.png">--> 
 <!--       <div class="navbar-brand">
            <a href="{{ site.baseurl }}/" class="">
                <img src="{{ site.baseurl }}/assets/img/logo-black.png">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu"
                :class="{ 'is-active': openNav }" x-on:click="openNav = !openNav">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu" :class="{ 'is-active': openNav }">
            <div class="navbar-end buttons">           
                Abschschlusstagung
            </div>
        </div>
    -->
    </div>
</nav>