// Font
@charset "utf-8";
$family-primary: "Verdana", sans-serif;
// Colors
//$primary: #d1e7d6 !default;
$primary: #ffffff !default;
$text: #000 !default;
$title-color: #000 !default;
//$primary-light: #e7f2ea;
//$primary-light: #ffffff;
$light: #e7f2ea;
$primary-dark: #1e7d73;
$dark: #09443e;

// Specific styles
@import "layout";
@import "helper";
@import "icons";
@import "print";

.highlighter h3 {
  padding-top: 0;
}

.column.is-5 .highlighter {
  margin-top: 0;
}
.highlighter img.is-rounded {
  padding: 0;
}

.hero.is-primary
  a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.hero.is-primary strong {
  color: $dark;
  text-decoration: underline;
}

.navbar-end {
  margin-left: 50%;
}
.navbar {
  padding-bottom: 0;
}

.logo-container {
  justify-content: center;
}
.logo {
  width: 25%;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
}
hr {
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #1e7d73; /* old IE */
  background-color: #1e7d73; /* Modern Browsers */
}
.button-row {
  justify-content: center;
  gap: 12px;
  display: flex;
  margin-top: 2rem;
}
.overtitle.subtitle {
  padding-top: 100px;
}
.title.title-with-overtitle{
  margin-bottom: 0;
  padding-bottom: 0;
}
.container .subtitle{
  width:70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
h1 {
  color: #1e7d73;
  padding-top: 100px !important;
}
.highlighter{
  font-size: 110%;
  padding-bottom: 0;
}
.highlighter h3{
  padding-bottom: 1rem;
  font-size: 3rem;
  padding-top: 2rem;
}
.logo-leiste{
  padding-top: 1rem;
}
.container ul li{
  margin-left: 2rem;
}
small {
  font-size: 0.6em;
}
td p{
  color: #1e7d73;
  padding: 0;
  padding-bottom: 0.3em;
  font-weight: bold;
}
.tb th,
.tb td {
  padding: 10px;
  padding-bottom: 20px;
  border-bottom: solid 2px #1e7d73;
}
.tb td{
  width: (100% /2) -200px;
}
.tb th{
  min-width:8em;
}